.bzr
.git
*.elc
/auto-save-list/
/conf/private.el
/old/
/local/

; ignore some really bulky nxhtml stuff not needed to run
/lib/nxhtml/tests/
/lib/nxhtml/nxhtml/ChangeLog
/lib/nxhtml/nxhtml/doc/
/lib/nxhtml/etc/viper-tut/

/session.*
/lib/eproject/.gitignore
/tramp
/url/cache/
/elpa/archives/
/url/cookies
/.bash_history_local
/jabber-avatar-cache/
/lib/nxhtml/etc/schema/xhtml-loader.rnc
